Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Werkzeug==2.2.2
openai==0.28.0
gTTS==2.2.4
python-dotenv==1.0.1
SpeechRecognition==3.8.1
nltk==3.8.1
sentence-transformers==2.2.2
torch==2.6.0
SQLAlchemy==1.4.46
requests==2.32.3
transformers==4.21.3
smartsheet_python_sdk==3.0.4
